<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
 
  <body>
    <div class="card">
      <div class="card-header">
        <h1>PATRONES USADOS :</h1>
      </div>
      <div class="card-body">
        <section>
          <h3>Patrón adaptador</h3>
          
          <p>
            Se utilizó este patrón para : 
             <li> Obtener los datos del formulario html y cambiar el tipo de dato a json</li>
             
          </p>
        </section>
        <section>
          <h3>Patrón de estrategia </h3>
          
          <p>
              Al tener una familia de algoritmos, los cuales permitian intanciar objetos de tipo:
          </p>
          <li> Conexion para  llenar las bases de datos,y a estas clases se le pueden seguir agregando métodos para aumentar la funcionalidad, como por ejemplo crear mas tablas en la basse de datos SQL </li>
          
        </section>
      </div>
    </div>
  </body>
</html>